@import-normalize;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAIN */
main {
  display: flex;
  flex-direction: row;
}

/* ARTICLE */
main article {
  width: 100vw;
}
main article li img,
main article li h2 {
  cursor: pointer;
}
main.show-highlighted article {
  opacity: 0.4;
  width: 60vw;
}

/* ASIDE */
main aside {
  width: 0vw;
  background-color: #eee;
  position: relative;
}
main aside > div {
  position: sticky;
  top: 0;
  text-align: center;
}
main aside h3 {
  margin: 10px 0 25px 0;
  padding: 15px 50px;
}
main aside img {
  width: 60%;
  margin: 0 auto;
}
main.show-highlighted aside {
  width: 40vw;
  padding: 40px;
}

main aside svg.lucide-chevron-left-circle {
  float: left;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/**/
main.list article ul,
main.grid article ul {
  padding: 20px 30px;
}
main.list article ul {
  display: flex;
  flex-direction: column;
}
main.grid article ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: max-content;
  column-gap: 15px;
  row-gap: 15px;
}
main.grid.show-highlighted article ul {
  grid-template-columns: repeat(3, 1fr);
}
main.grid article li {
  flex-direction: column;
}
main.grid article li div {
  padding-left: 0;
}
main.grid article li img {
  width: 100%;
  height: auto;
}
main.grid article .summary p {
  height: 0;
  visibility: hidden;
}
main.grid article .summary button {
  border: none;
  cursor: pointer;
}
main.grid article .summary button:hover {
  opacity: 0.6;
}
main.grid article .summary svg {
  pointer-events: none;
  transform: rotate(0deg);
  transition: 0.5s all;
}
main.grid article .summary.visible p {
  height: auto;
  visibility: visible;
}
main.grid article .summary.visible svg {
  transform: rotate(180deg);
  transition: 0.5s all;
}
